@import '../../app-theme';
@import '../../highlightjs/material-dark';


$primary: mat-palette($mat-purple);
$accent: mat-palette($mat-green, A200, A100, A400);

// Define the dark theme.
$theme: mat-dark-theme($primary, $accent);
@include angular-material-theme($theme);
@include app-theme($theme);
