plan/architecture.png 
plan/plantuml.jar 
.idea
RTKcalls.7z
data/
kaldi
kaldi-ru-0.6/
venv 
__pycache__ 
*.exe 
*.ini 
flask 
log.txt
*.gz
test.wav
**/.venv
**/__pycache__
*.png
*.wav
*.log
.ipynb_checkpoints
*.txt
