services/text_service/STT-Service/resources/deepspeech-weights.pbmm filter=lfs diff=lfs merge=lfs -text
services/text_service/STT-Service/resources/kenlm.scorer filter=lfs diff=lfs merge=lfs -text
services/text_service/STT-Service/resources/deepspeech-weights.pb filter=lfs diff=lfs merge=lfs -text
