<mat-form-field>
  <label>
    <input matInput (keyup)="applyFilter($event)" placeholder="" #input>
  </label>
</mat-form-field>

<mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
    <mat-cell *matCellDef="let audio_file"> {{audio_file.id}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Название </mat-header-cell>
    <mat-cell *matCellDef="let audio_file"> {{audio_file.name}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="year">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Год </mat-header-cell>
    <mat-cell *matCellDef="let audio_file"> {{audio_file.year}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="month">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Месяц </mat-header-cell>
    <mat-cell *matCellDef="let audio_file"> {{audio_file.month}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="day">
    <mat-header-cell *matHeaderCellDef mat-sort-header> День </mat-header-cell>
    <mat-cell *matCellDef="let audio_file"> {{audio_file.day}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="hour">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Час </mat-header-cell>
    <mat-cell *matCellDef="let audio_file"> {{audio_file.hour}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="minute">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Минута </mat-header-cell>
    <mat-cell *matCellDef="let audio_file"> {{audio_file.minute}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="second">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Секунда </mat-header-cell>
    <mat-cell *matCellDef="let audio_file"> {{audio_file.second}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="ms">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Миллисекунда </mat-header-cell>
    <mat-cell *matCellDef="let audio_file"> {{audio_file.ms}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="workplace">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Рабочее место </mat-header-cell>
    <mat-cell *matCellDef="let audio_file"> {{audio_file.workplace}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="role">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Роль </mat-header-cell>
    <mat-cell *matCellDef="let audio_file"> {{audio_file.role}} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns; let i = index" (click)="play(row, i)" style="cursor: pointer"></mat-row>

  <!--  <ng-container matColumnDef="start_time">-->
  <!--    <mat-header-cell *matHeaderCellDef> Время начала</mat-header-cell>-->
  <!--    <mat-cell *matCellDef="let audio_file"> {{audio_file.start_time}} </mat-cell>-->
  <!--  </ng-container>-->
  <!--  -->

  <!--  <ng-container matColumnDef="duration">-->
  <!--    <mat-header-cell *matHeaderCellDef> Длительность</mat-header-cell>-->
  <!--    <mat-cell *matCellDef="let audio_file"> {{audio_file.duration}} </mat-cell>-->
  <!--  </ng-container>-->

</mat-table>
<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5" showFirstLastButtons></mat-paginator>
